<form class="shadow-md bg-white p-4"
      [formGroup]="form">
  <mat-form-field appearance="outline"
                  class="w-full">
    <label>Email</label>
    <input matInput
           formControlName="email" />

    <mat-error
               *ngIf="form.controls['email'].errors && form.controls['email'].errors['email']">
      Must be an email
    </mat-error>
    <mat-error
               *ngIf="form.controls['email'].errors && form.controls['email'].errors['required']">
      Required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline"
                  class="w-full">
    <label>Name</label>
    <input matInput
           formControlName="name" />

    <mat-error
               *ngIf="form.controls['name'].errors && form.controls['name'].errors['maxlength']">
      Name must be at most
      {{form.controls['name'].errors['maxlength'].requiredLength}} characters,
      currently {{form.controls['name'].errors['maxlength'].actualLength}}
      characters
    </mat-error>

    <mat-error
               *ngIf="form.controls['name'].errors && form.controls['name'].errors['minlength']">
      Name must be atleast
      {{form.controls['name'].errors['minlength'].requiredLength}} characters,
      currently {{form.controls['name'].errors['minlength'].actualLength}}
      characters
    </mat-error>
  </mat-form-field>

  <div formGroupName="password">
    <mat-form-field appearance="outline"
                    class="w-full">
      <label>Password</label>
      <input matInput
             formControlName="password" />
    </mat-form-field>

    <mat-form-field appearance="outline"
                    class="w-full">
      <label>Confirm password</label>
      <input matInput
             formControlName="confirmPassword" />
    </mat-form-field>

  </div>

  <app-counter-input formControlName="yearsOfExperience"></app-counter-input>

  <app-star-rating-field formControlName="review"></app-star-rating-field>

  <mat-divider></mat-divider>
  <mat-divider></mat-divider>
  <mat-divider></mat-divider>


  <button mat-flat-button
          (click)="submitForm()"
          [disabled]="form.invalid"
          color="primary">
    Submit
  </button>
</form>

<app-counter-input #counterInput
                   [value]="5"
                   (change)="submitForm()">
</app-counter-input>